<div class="jumbotron center">
  <h1>Welcome to MyRecipes</h1>
  <h2>The best recipe sharing app!</h2>
  <p><%= link_to "Sign up or Log in", "#", class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>
<!-- Example row of columns -->
<div class="row">
  <div class="col-lg-4 center">
    <h2>Yummy Recipes for You and Your Family</h2>
    <p class="text-danger">If you are looking for yummy recipes you have come to the right place. Here you can share your tasty recipes.</p>
    <p><a class="btn btn-xlarge" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-lg-4 center">
    <h2>Easy to Share your Recipes</h2>
    <p>FREE to Signup! Add your Favorite Recipes and Share with Friends.</p>
    <p><a class="btn btn-xlarge" href="#" role="button">View details &raquo;</a></p>
 </div>
  <div class="col-lg-4 center">
    <h2>Easily Find Recipes You Love</h2>
    <p>Use the Search and/or Ingredients Menu to find your Favourite Recipes.</p>
    <p><a class="btn btn-xlarge" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>