<div class="jumbotron center">
  <h1>Welcome to MyRecipes</h1>
  <h2>The best recipe sharing app!</h2>
  <p><%= link_to "Sign up or Log in", "#", class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>
<!-- Example row of columns -->
<div class="row">
  <div class="col-lg-4">
    <h2>Heading</h2>
    <p class="text-danger">This text is in the first column.</p>
    <p><a class="btn btn-xlarge" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Heading</h2>
    <p>This text is in the second column. </p>
    <p><a class="btn btn-xlarge" href="#" role="button">View details &raquo;</a></p>
 </div>
  <div class="col-lg-4">
    <h2>Heading</h2>
    <p>This text is in the third column.</p>
    <p><a class="btn btn-xlarge" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>