<div class="panel panel-default">
  <div class="panel-body">
  Made with Ruby On Rails and Bootstrap and a whole lot of coffee!  
  </div>
  <div class="panel-footer">Copyright Garth Scaysbrook 2017</div>
</div>